

<footer class="footer">
    <div class="ad5">
        <p><strong> GET INVOLVED</strong></p>
        <p><a href="#"></a> Volunteer</p>
        <p><a href="#"></a>Donate blood</p>
        <p><a href="#"></a>Seek</p>

    </div>
    <div class="ad6">
        <p><strong>RESOURCES</strong></p>
        <p><a href="#"></a>Our Services</p>
        <p><a href="#"></a>Our Locations</p>
        <p><a href="#"></a>Our partners</p>
        <p><a href="#"></a>Our work</p>

    </div>
    <div class="ad7">
        <p><strong> SOCIAL MEDIA</strong></p>
        <p><a href="#"></a>TWITTER <i class="fa-brands fa-twitter"></i></p>
        <p><a href="#"></a>FACEBOOK <i class="fa-brands fa-facebook"></i></p>
        <p><a href="#"></a>INSTAGRAM <i class="fa-brands fa-instagram"></i></p>

    </div>
</footer>