{% load static %}
<nav class="d-flex justify-content-between align-items-center bg-dark p-3">
    <div class="logo">
        <a href="{% url 'index' %}"><img src="{% static 'assets/images/logo.svg' %} alt="logo"></a>
    </div>
    <section class="pocket">
        <ul class="line">
            <li class="uline">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
        </ul>
        <ul class="line">
            <li class="uline">
                <a class="nav-link" href="register.html">Register</a>
            </li>
        </ul>
        <ul class="line">
            <li class="uline">
                <a class="nav-link" href="#">Covid Requests</a>
            </li>
        </ul>
        <ul class="line">
            <li class="uline">
                <a class="nav-link" href="complaint.html">Complaints</a>
            </li>
        </ul>
        <ul class="line">
            <li class="uline">
                <a class="nav-link" href"#">Login</a>
            </li>
        </ul>
    </section>
    <div class="tabs">
        <button class="btn btn-success"><a class="text-light" href="#">Sign in</a></button>
        <button class="btn btn-success"><a class="text-light" href="{% url 'register' %}">Register</a></button>
    </div>
</nav>