{% extends 'components/main.html' %}
{% load static %}
{% block content %}

<div  class="Complaint">
    <div class="module">
        <p class="inside">NURSE MODULE</p>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="doc">
            <div class="card" style="width: 27rem;">
                <div class="card-header">
                    PROFILE:
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name:<span class="stable"><input name="name" value="{{patient.firstName}} {{patient.middleName}} {{patient.lastName}}" type="text" disabled /></span></li>
                    <li class="list-group-item">Registration Number:<span class="stable"><input name="regNumber" value="{{patient.regNumber}}" type="text" disabled></span></li>
                    <li class="list-group-item">Doctor on File:<span class="stable"><input type="text"></span></li>
                    <li class="list-group-item">Nurse on File:<span class="stable">{{form.nurse}}</span></li>
                    <li class="list-group-item">Gender:<span class="stable"><input name="gender" value="{{patient.gender}}" type="text" disabled></span></li>
                    <li class="list-group-item">Date-Of-Birth: <span class="stable"><input name="dateOfBirth" value="{{patient.dateOfBirth}}" disabled type="text"></span></li>
                    <li class="list-group-item">Doctor Assigned : <span class="stable"><input type="text"></span></li>
                </ul>
            </div>
        </div>
        <div class="middle">
            <h4 class="false">Personal Info:</h4>
            <div class="d-grid gap-3">
                <div class="p-2 bg-light border">Item 1)
                    <div class="form-group">
                        <label for="height"> Height?</label>
                        {{form.height}}
                    </div>
                </div>
                <div class="p-2 bg-light border">Item 2)
                    <div class="form-group">
                        <label for="weight">Weight?</label>
                        {{form.weight}}
                    </div>
                </div>
                <div class="p-2 bg-light border">Item 3)
                    <div class="form-group">
                        <label for="temp">Temperature?</label>
                        {{form.temperature}}
                    </div>
                </div>
                <div class="p-2 bg-light border">Item 4)
                    <div class="form-group">
                        <label for="bp">Blood Pressure</label>
                        {{form.bloodPressure}}
                    </div>
                </div>
            </div>
        </div>
        <div class="submit">
            <button type="submit"  class="btn btn-primary btn-lg">
               CONTINUE
            </button>
        </div>
    </form>

</div>


    {% endblock content %}