{% extends 'components/main.html' %}
{% load static %}
{% block content %}

<div class="Complaint">
    <div class="module">
        <p class="inside">LABORATORY MODULE</p>
    </div>
    <div class="doc">
        <div class="card" style="width: 27rem;">
            <div class="card-header">
                PROFILE:
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name:<span class="stable"><input type="text"></li></span>
                <li class="list-group-item">Registration Number:<span class="stable"><input type="text"></li></span>
                <li class="list-group-item">Doctor on File:<span class="stable"><input type="text"></li></span>
                <li class="list-group-item">Nurse on File:<span class="stable"><input type="text"></li></span>
                <li class="list-group-item">Age :<span class="stable"><input type="text"></li></span>
                <li class="list-group-item">Gender: <span class="stable"><input type="text"></li></span>
            </ul>
        </div>
    </div>
    <div class="doc">
        <h4 class="true"> DOCTOR'S NOTE:</h4>
        <textarea name="" id="" cols="95" rows="7" class=""></textarea>
    </div>
    <div class="doc">
        <h4 class="true">LIST:</h4>
        <table class="table table-light">
            <thead class="table-primary">
            <tr>
                <th>S/N</th>
                <th>Tests Run</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>2</td>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>3</td>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>Total</td>
                <td></td>
                <td><input type="text"></td>
            </tr>
            </tfoot>


        </table>
        <p>You are to continue to the billing page or back to homepage</p>
        <span>
                    <button class="btn btn-success"><a class="text-light" href="billing.html">CONTINUE</a></button>
                    <button class="btn btn-danger"><a class="text-light" href="index.html">BACK</a></button>
                </span>
    </div>
</div>

{% endblock %}