{% extends 'components/main.html' %}
{% load static %}
{% block content %}

<div class="Complaint">
    <div class="module">
        <p class="inside">PHARMACY MODULE</p>
    </div>
    <div class="doc">
        <div class="card" style="width: 27rem;">
            <div class="card-header">
              PROFILE:
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name:<span class="stable"><input name="name" value="{{patient.firstName}} {{patient.middleName}} {{patient.lastName}}" type="text" disabled /></span></li>
				<li class="list-group-item">Registration Number:<span class="stable"><input name="regNumber" value="{{patient.regNumber}}" type="text" disabled></span></li>
				<li class="list-group-item">Doctor on File:<span class="stable"><input disabled value="{{complain.doctorName}}" type="text"></span></li>
				<li class="list-group-item">Nurse on File:<span class="stable"><input name="nurse" value="{{complain.nurse}}" type="text" disabled></span></li>
				<li class="list-group-item">Gender:<span class="stable"><input name="gender" value="{{patient.gender}}" type="text" disabled></span></li>
				<li class="list-group-item">Date-Of-Birth: <span class="stable"><input name="dateOfBirth" value="{{patient.dateOfBirth}}" disabled type="text"></span></li>
            </ul>
        </div>
    </div>
    <div class="doc">
        <div>
            <h4 class="true"> DOCTOR'S NOTE</h4>
            <textarea name="" id="" cols="95" rows="7">{{doctor.doctorNote}}</textarea>
        </div>
    </div>
   
    <div class="doc">
        <h4 class="true">LIST:</h4>
        <table class="table table-light">
            <thead class="table-primary">
                <tr>
                    <th>S/N</th>
                    <th>Types of Drugs Bought</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for items in pharmacyItems %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{items.drug_name}}</td>
                    <td>{{items.amount}} Naira</td>
                    <td></td>
                </tr>
                {% endfor%}
                
                <tr>
                    <form method="post" onsubmit="totalCost(event)">
                        {% csrf_token %}
                    <td></td>
                    <td>{{form.drug_name}}</td>
                    <td>{{form.amount}}</td>
                    <td><input value="add" type="submit"></td>
                    </form>
               </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td>{{total}}</td>
                </tr>
            </tfoot>
            
            
        </table>
        <p>You are to head to the billing page or back to doctor page</p>
            
        <span>
            <button class="btn btn-success"><a class="text-light" href="{% url 'billing' slug=complain.id %}">CONTINUE</a></button>
            <button class="btn btn-danger"><a class="text-light" href="{% url 'doctor' slug=complain.id %}">BACK</a></button>
        </span>
    </div>
       
</div>

{% endblock %}